body {
	margin: 0;
	background-color: var(--colors-base);
}
a {
	color: var(--colors-top);
}
ol {
	list-style: none;
	counter-reset: li;
	margin-left: 0;
	padding-left: 0;
}
ol li:before {
	content: counter(li) ". ";
	color: var(--colors-top);
	font-family: var(--font-family-sans-serif);
}
ol li {
	counter-increment: li;
}
* {
	&:focus-visible:not(:disabled) {
		outline: 4px solid var(--colors-top);
	}
}
*::before,
*::after {
	box-sizing: border-box;
}
