:root {
	--colors-top: #191919;
	--colors-ultra-high: #303030;
	--colors-high: #555;
	--colors-low: #e7e7e7;
	--colors-ultra-low: #f9f9f9;
	--colors-base: #fefefe;
	--colors-dark-overlay: rgba(25, 25, 25, 0.7);
	--colors-base-overlay: rgba(254, 254, 254, 0.9);

	--font-family-sans-serif: sans-serif;
}
